<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MulTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MulTools.Properties.Settings>
            <setting name="Gif帧间隔" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Gif截图间隔" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Long截图间隔" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Is删除长图临时文件" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Is删除GIF临时文件" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="默认保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="截图文件类型" serializeAs="String">
                <value>bmp</value>
            </setting>
            <setting name="K_默认进程" serializeAs="String">
                <value />
            </setting>
            <setting name="K_查杀间隔" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Long相似度" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="Long下限值" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Long上限值" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Long合成方向" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="Long实时合成" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Menu程序多开" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Menu功能多开" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pic截图同步到剪切板" serializeAs="String">
                <value>True</value>
            </setting>
        </MulTools.Properties.Settings>
    </userSettings>
</configuration>