<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MulTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MulTools.Properties.Settings>
            <setting name="GifFrameTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GifInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LongInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="DelLongTempPic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelGitTempPic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PicType" serializeAs="String">
                <value>bmp</value>
            </setting>
            <setting name="K_DefaultProcess" serializeAs="String">
                <value />
            </setting>
            <setting name="K_SpanTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LongPicSimilar" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="LongPicLow" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LongPicHeigh" serializeAs="String">
                <value>200</value>
            </setting>
        </MulTools.Properties.Settings>
    </userSettings>
</configuration>